################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Album-Api/FileContentIndex/da93d00d-72f1-4044-b712-dc76f5bc051d.vsidx
